h1 {
    color:blue;
    font-family:helvetica;
    font-family:helvetica;
    background-color:pink;
    border:5px solid red;
    padding:50px;
    }
    
img {
    border: 5px solid fuchsia;
    width:25%;
    height:25%;
    } 
    
body {
    background-color:purple;
    }

#second_heading{
    color: orange;
    background-color: green;
    border: 3px dotted green;
}


